<footer class="footer">
    <small>
        This is the footer of Awsome Blog.
        This training App by Mari Sato
    </small>
    <nav>
        <ul>
            <%= link_to "About",about_path %>
        <%= link_to "Contact",contact_path %>
            </ul>
    </nav>
</footer>